body{
    background-image: url("../images/f1.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: cursive;
     position: relative;
}

.conteiner{
    font-family: cursive;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 85%;
   
    
}

.conteiner2{
    font-family: cursive;
    
    
    position: absolute; top: 5px; left: 5px; text-align: center;
    
}

.loginButton{
    text-align: center;
    
}

.login-icon {
    background-image: url("../images/icons/login.png") !important;
}

